html, body,  span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}










/*.form-parent{
    text-align: center;
}*/

.form-body{
    background-color: white;
    margin: 0px 400px 0px 400px ;
    padding: 10px 20px 0px 20px;
    font-size: 12px;
    border-style: solid;
    border-color: bdc9c5;
  

}

.form-title{
    background-color:#bdc9c5;
    color: white;
    padding: 20px 20px 20px 20px;
    margin: 0px 400px 0px 400px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    font-weight: bold;

}

.common, textarea {
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: black;
  }

  input[type=file] {
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
  }

  h1{
      font-size: 30px;
      
  }


  select {

    /* styling */
    color: white;
    width: 100%;
    padding: 5px 10px 5px 10px;
    margin: 8px 0;  
    background-color:#32ba9e;
    border-radius: 4px;
    display: inline-block;
    font: inherit;
    line-height: 1.5em;
  
    /* reset */
      -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  
  
  /* arrows */
  
  select.classic {
    background-image:
      linear-gradient(45deg, transparent 50%, white 50%),
      linear-gradient(135deg, white 50%, transparent 50%),
      linear-gradient(to right, #32ba9e, #32ba9e);
    background-position:
      calc(100% - 20px) calc(1em + 2px),
      calc(100% - 15px) calc(1em + 2px),
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    font-weight: bold;
  }
  
  select.classic:focus {
    background-image:
      linear-gradient(45deg, white 50%, transparent 50%),
      linear-gradient(135deg, transparent 50%, white 50%),
      linear-gradient(to right, #32ba9e, #b1b4b3);
    background-position:
      calc(100% - 15px) 1em,
      calc(100% - 20px) 1em,
      100% 0;
    background-size:
      5px 5px,
      5px 5px,
      2.5em 2.5em;
    background-repeat: no-repeat;
    border-color: grey;
    outline: 0;
  }

  .send
  {
      margin-left: 80%;
      background-color:  #32ba9e;
      color: white;
      border-radius: 5px;
      border-color: #32ba9e;
      padding: 4px 8px 4px 8px;
      border-style: solid;
      font-weight: bold;
    
  }

  .form-footer{
    background-color:#bdc9c5;
    color: white;
    margin: 0px 400px 0px 400px;
    padding: 15px 20px 15px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .form-parent{
      margin-bottom: 100px;
  }

  .menu{

    font-size: 15px;
    float: right;

  }

  .heading{
    font-weight: bold;
    font-size: 25px;

  }

  .page-header{
      margin: 25px 150px 20px 150px;
      color: #32ba9e;
  }

  hr{
      border-color: #bdc9c5;
      margin-top: 20px;
  }

  .page-parent{
    /*  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  }

.file-field{
    margin-left: 90%;
    border-
}

.version{
    width: 100px;
    padding: 5px 10px 5px 10px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: white;
    color: black;
}a
